<mat-sidenav-container class="sidenav-container">
  <mat-sidenav 
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="isHandset ? 'dialog' : 'navigation'"
    [mode]="(isHandset | async)!.matches ? 'over' : 'side'" 
    [opened]="!(isHandset | async)!.matches">
    <mat-toolbar class="sidebar-menu">
      <span class="title-center">TITLE</span>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/"><mat-icon>home</mat-icon>Home</a>
      <a mat-list-item routerLink="/profile"><mat-icon>face</mat-icon>Profile</a>
      <a mat-list-item routerLink="/contacts"><mat-icon>list</mat-icon>Contacts</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/login"><mat-icon>eject</mat-icon>Logout</a>
      
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="sidenav-bar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>My first Dashboard</span>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>