.mat-h1{
    margin-left: 15px;
  }

.mat-h3{
    color:#28bebd;
}  
  
.grid-container {
    margin: 20px;
    padding-left: 200px;
}

.dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px
}

.dashboard-card-title{
    font-size: 30px;
    color:#EE6E73;
}

.dashboard-card-subtitle{
    font-size: 17px;
    color:#C7C7C7;
}

.dashboard-card-content {
    text-align: left;
    font-size: 20px;
    padding-left:5px;
}

.dashboard-card-footer{
    text-align: right;
    padding-right: 25px;
}
.mat-button:hover, .mat-menu-item:hover{
    background:#28BEBD;
    color:white
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 10px;
    position:absolute;
    right:10px;
}

chiphigh{
    background: rgb(87, 207, 57);
    color:white
}

chipmedium{
    background: rgb(212, 150, 35);
    color:white
}

chipmedium{
    background: rgb(161, 158, 158);
    color: white
}